<form method="POST" action="/new">
  <h1>Post new message</h1>
  <label for=<"user">User:</label><br>
  <input type="text" name="user"><br>
  <label for=<"user">Text:</label><br>
  <input type="text" name="text"><br>
  <br>
  <input type="submit" value="Submit"><br>
</form>